:root {
  --background: #fffef6;
  --h1: #0011b9;
  --h2: #0011b9;
  --p: #0012b8;

}

html {
  background-color: var(--background);
  /* background-color: black */
}

h1 {
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  color: var(--h1);
}
h2, h3 {
  color: var(--h2);
  margin-left: 10px;
  text-align: center;
}

.ipv4 {
  color: var(--p);
  margin-left: 200px;
}

p {
  color: var(--p);
}

label {
  color: white;
  display: inline-block;
  padding-top: 10px;
}

form {
  margin-left: 200px;
  margin-right: 200px;
}

input {
  margin-left: 10px;
}

#elevpool, #gateway {
  /* display: inline-block; */
  margin-left: 42px;
}

#elevpool {
  width: 40px;
}

#subnet {
  margin-left: 55px;
}

#address {
  margin-left: 47px;
}

button {
  margin-left: 100px;
  margin-top: 30px;
}


.answer {
  width: 200px;
  height: 20px;
}

.a {
  color: var(--p);
}

.a:active, a:-webkit-any-link {
  color: var(--p);
}

.linuxTest {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  border: 1px solid #999999; 
  background-color: #ffff;
  margin-left: 350px;
  margin-right: 350px;

}

.correct {
  padding-left: 10px;
  padding-top: 10px;
  color: green
}

.false {
  color: red;
}

.question {
  padding-left: 10px;
}

button {
  justify-content: center;
  background-color: var(--p);
  width: 60px;
  height: 30px;
  color: white;
}

button:hover {
  color: white;
  background-color: #3743b6;
}

